.stat-card-container{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 25px;
    .stat-image{
        width: 40px;
        height: 40px;
    }


    h1{
        font-size: 48px;
    }

    h2{
        font-size: 22px;
    }

    h6{
        font-size: 16px;
    }

}
@media (max-width: 480px){
.stat-card-container{
    width: 200px;

}
}
@media (max-width: 1024px){
    .stat-card-container{
        width: 140px;
    }
    }


@media (min-width: 1440px){
    .stat-card-container{
        width: 150px;
    }
}